.sidebar {
    flex: 3;
    font-weight: bold;
    overflow-y: scroll;
    height: 100vh;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(171, 171, 171);
}


.sidebar-wrapper {
    height: 100%;
}

.sidebar-lists, .sidebar-friends-lists{
    padding: 0;
}

.sidebar-lists-items, .friends-lists {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 30px 0 25px 30px;
    cursor: pointer;
}

.sidebar-icon {
    margin-right: 10px;
    font-size: 35px !important;
}


.extended-button .sidebar-icon {
    background-color: rgb(234, 234, 234);
    border-radius: 50%;
}
.line-break {
    margin: 0 30px;
    color: rgb(234, 234, 234);
}
