.message-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding-right: 20px;
}

.message-top {
  display: flex;
  align-items: flex-end;
}

.message-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
  object-fit: cover;
  margin: 0 10px;
}
.message-text {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(202, 202, 202);
  max-width: 30rem;
}
.message-bottom {
    font-size: 15px;
}
.message-container.own {
    display: flex;
    align-items: flex-end;
}

.message-container.own .message-text{
    color: white;
    background-color: #1877f2;
}
.message-container.own .message-top {
    flex-direction: row-reverse;
}
